{
    email example@exapmle.com
    # see https://caddyserver.com/docs/automatic-https#hostname-requirements
    #acme_ca "http://localhost:3000/acme/directory"
    #skip_install_trust
}

# use 8443 port for testing 
https://caddy.localhost:8443 https://*.caddy.localhost:8443 {
    tls {
        ca "https://localhost:3000/acme/directory"
    }
    respond "Hello From Caddy"
}
